* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* title */
.title {
	font-size: 18px;
	fill: darkslategray;
}

/* axes */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis text {
  font-size: 11px;
}

.y.axis .tick line {
	display: none;
}

.y.axis .domain {
	display: none;
}

.y.axis .label {
	font-size: 16px;
}


/* bar */
.bar {
	cursor: pointer;
}

.label-count {
	fill: darkslategray;
	font-size: 11px;
	text-anchor: start;
}