* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.y.axis text {
  font-size: 10px;
}

.x.axis text {
	font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis .tick {
	display: none;
}

.y.axis .domain {
	display: none;
}

.y.axis .label {
	font-size: 16px;
}

.bar {
	cursor: pointer;
}